name: flutter_example
description: A simple Flutter example app to test Synheart Focus and Focus Score
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  focus_core:
    path: ../../../synheart_focus/focus-core-dart
  flutter_onnxruntime: ^1.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/models/


